[submodule "TheAmazingAudioEngine"]
	path = TheAmazingAudioEngine
	url = https://github.com/TheAmazingAudioEngine/TheAmazingAudioEngine.git
[submodule "Colours"]
	path = Colours
	url = https://github.com/bennyguitar/Colours.git
[submodule "OCTotallyLazy"]
	path = OCTotallyLazy
	url = https://github.com/stuartervine/OCTotallyLazy.git
